/* цвет основного текста ; #757575 */
/* вторичный цвет текста  #212121;
 */
/* белый #FFFFFF;  */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */
/* roboto-regular - latin_cyrillic */

/* .feature-icon {
  display: block;
  background-color: var(--second-background-color);
  padding: 25px 100px;
} */
