.footer {
  display: flex;
  background-color: $footer-background-color;
  align-items: center;
  margin: auto;
  /* width: 1600px; */
}
.footer > .container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
.footer-address > .logo {
  display: block;
}
.footer .link {
  color: $primary-text-color;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  font-weight: normal;
}
.contact-us-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}
.footer-email {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  color: $primary-white-color;
  background-color: $footer-background-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.icon-send {
  fill: currentColor;
}

.subscription-form {
  display: flex;
}
